@media screen and (max-width:600px){
    .firstsection {
        height: 520px;
      
    }
    .firstsection-leftdiv {
    width: 60%;
}
.firstsection-rightdiv {
    width: 40%;
}
.heading{
    font-size: 25px;
}
.line {
    width: 180px;
    
}
.link-holder {
     flex-direction: column;
}
.link-holder h4{
    margin: 0 0 20px 0;
}

/* =========SECTIONSECTION MOBILE STARTS HERE=============== */

.secondsection {
    flex-direction: column;
}

.secondsection-rightdiv {
    margin: 30px 0 0 0;
    
}

/* =========THIRDSECTION MOBILE STARTS HERE=============== */

.thirdsection {
    flex-direction: column-reverse;
    align-items: center;
}

.thirdsection-rightdiv {
    margin-bottom: 30px;
}
/* =========FOOTER  MOBILE STARTS HERE=============== */
footer {
    flex-direction: column;
    text-align: center;
}
.icon-holder i{
    margin-top: 10px;
    
}
}



