* {
    padding: 0;
    margin: 0;
}


.firstsection{
    border: 2px solid black;
    height: 460px;
    display: flex;

}

.firstsection-leftdiv {
    border: 2px solid tomato;
    height:100%;
    width: 50%;
   

}

.firstsection-rightdiv {
    border: 2px solid skyblue;
    height:100%;
    width: 50%;
    /* background: linear-gradient(to left top, rgba(255, 99, 71, 0.3), rgba(255, 133, 34, 0.3), rgba(241, 169, 0, 0.3), rgba(213, 203, 0, 0.3), rgba(168, 235, 18)), url("./images/image1.jpg");  basic explanation of gradient using genrerator */

    background: var(--linear-gradient), url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;

    /* background: url("./images/dots.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom right; */
    /* background-size: contain; */


}

